AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=us-east-1
AWS_BEDROCK_LLM_MODEL_ID=meta.llama3-1-8b-instruct-v1:0
AWS_BEDROCK_EMBEDDINGS_MODEL_ID=amazon.titan-embed-text-v2:0

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=encuestas_db
POSTGRES_SSL=false
RESET_TRAINING=false
